* {
  margin: 0;
  padding: 0;
}
.box {
  width: 500px;
  height: 200px;
  border: 1px solid #ccc;
  margin: 100px auto;
}
.box > ul {
  list-style: none;
  width: 100%;
  display: flex;
}
.box > ul > li {
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: salmon;
  border-right: 1px solid #000;
  flex: 1;
}
.flex {
  width: 500px;
  height: 500px;
  border: 1px solid #ccc;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.one {
  width: 150px;
  height: 150px;
  background-color: skyblue;
  align-self: flex-start;
}
.two {
  width: 150px;
  height: 150px;
  background-color: #718188;
  align-self: flex-end;
}
.three {
  width: 150px;
  height: 150px;
  background-color: #a9ec2d;
}
